# Задание 1: Работа с массивами NumPy

Цель: Проверить знание методов NumPy для анализа данных.

**Задание:**

1. Создайте массив случайных чисел (50 элементов) из диапазона [10, 100].
2. Найдите:
3. Среднее арифметическое массива.
4. Медиану.
5. Стандартное отклонение.
6. Создайте новый массив, где каждое число изначального массива делится на 3. Отфильтруйте числа, которые делятся без остатка.

**Ожидаемый ответ:**

* Вывод среднего, медианы, стандартного отклонения.
* Новый массив и его фильтр.

In [8]:
import numpy as np

# Создаем массив случайных чисел из диапазона [10, 100]
random_array = np.random.randint(10, 100, size=50)

# Находим среднее арифметическое массива
mean_value = np.mean(random_array)

# Находим медиану массива
median_value = np.median(random_array)

# Находим стандартное отклонение массива
std_deviation = np.std(random_array)

# Создаем новый массив, где каждое число изначального массива делится на 3
new_array = random_array / 3

# Фильтруем числа, которые делятся без остатка
filtered_array = new_array[new_array % 1 == 0]

# Выводим результаты
print("Среднее арифметическое:", mean_value)
print("\n")
print("Медиана:", median_value)
print("\n")
print("Стандартное отклонение:", std_deviation)
print("\n")
print("Новый массив:\n", new_array)
print("\n")
print("Отфильтрованный массив:", filtered_array)
print("\n")

Среднее арифметическое: 51.7


Медиана: 47.5


Стандартное отклонение: 22.646191732827837


Новый массив:
 [31.33333333 16.66666667  3.66666667 20.          7.66666667 22.
 14.         19.33333333 19.         23.33333333 20.33333333 12.33333333
  9.33333333  9.          6.66666667 27.66666667 11.66666667 20.
 16.         12.33333333 30.33333333  8.66666667 10.66666667 21.
 28.66666667 14.33333333 15.          6.         28.33333333 17.
 14.         15.66666667 22.66666667 32.33333333 15.33333333 23.66666667
 17.33333333 22.33333333  8.         22.66666667  7.         27.33333333
 32.66666667 21.33333333 15.         15.33333333 13.66666667 15.33333333
  3.33333333 14.33333333]


Отфильтрованный массив: [20. 22. 14. 19.  9. 20. 16. 21. 15.  6. 17. 14.  8.  7. 15.]

# Задание 2: Анализ данных с помощью Pandas

Цель: Проверить навыки анализа и обработки данных.

Данные: Используйте предоставленный CSV-файл ("sales_data_large.csv"), содержащий данные о продажах с полями:

date (дата продаж),
region (регион),
product (продукт),
sales (объем продаж).

**Задание:**

1. Загрузите данные из файла.
2. Определите:
   1. Общее количество записей.
   2. Какие регионы и продукты присутствуют в данных.
3. Подсчитайте:
   1. Общие продажи по регионам.
   2. Средний объем продаж для каждого продукта.
4. Постройте сводную таблицу, показывающую средние продажи по регионам и продуктам.

**Ожидаемый ответ:**

* Итоги анализа данных.
* Построенная сводная таблица.

In [10]:
import pandas as pd

data = pd.read_csv("data/sales_data_large.csv")

data.head()

         date region   product  sales
0  2024-12-01   West  Widget C    246
1  2024-12-01  South  Widget B    152
2  2024-12-01   West  Widget B    391
3  2024-12-01   West  Widget A    272
4  2024-12-01   East  Widget A    337

In [12]:
total_records = data.shape[0]
print("Количество записей:", total_records)

Количество записей: 500

In [14]:
regions = data['region'].unique()
products = data['product'].unique()

print("Количество регионов:", len(regions))
print("Регионы:", regions)
print("\n")
print("Количество продуктов:", len(products))
print("Продукты:", products)

Количество регионов: 4
Регионы: ['West' 'South' 'East' 'North']


Количество продуктов: 3
Продукты: ['Widget C' 'Widget B' 'Widget A']

In [20]:
sales_by_region = data.groupby('region')['sales'].sum().sort_values(ascending=False)
sales_by_product = data.groupby('product')['sales'].sum().sort_values(ascending=False)
avg_sales_by_product = data.groupby('product')['sales'].mean()
avg_sales_by_region = data.groupby('region')['sales'].mean()
std_sales_by_product = data.groupby('product')['sales'].std()
std_sales_by_region = data.groupby('region')['sales'].std()

print("Продажи по регионам\n", sales_by_region)
print("\n")
print("Продажи по продуктам\n", sales_by_product)
print("\n")
print("Средние продажи по продуктам\n", avg_sales_by_product)
print("\n")
print("Средние продажи по регионам\n", avg_sales_by_region)
print("\n")
print("Стандартное отклонение продаж по продуктам\n", std_sales_by_product)
print("\n")
print("Стандартное отклонение продаж по регионам\n", std_sales_by_region)

Продажи по регионам
 region
North    39605
West     35171
South    33023
East     29244
Name: sales, dtype: int64


Продажи по продуктам
 product
Widget C    46250
Widget A    45445
Widget B    45348
Name: sales, dtype: int64


Средние продажи по продуктам
 product
Widget A    275.424242
Widget B    268.331361
Widget C    278.614458
Name: sales, dtype: float64


Средние продажи по регионам
 region
East     273.308411
North    278.908451
South    275.191667
West     268.480916
Name: sales, dtype: float64


Стандартное отклонение продаж по продуктам
 product
Widget A    126.856994
Widget B    130.787119
Widget C    130.724678
Name: sales, dtype: float64


Стандартное отклонение продаж по регионам
 region
East     129.150520
North    126.480448
South    132.949621
West     130.299912
Name: sales, dtype: float64

In [23]:
# Создаем сводную таблицу для отображения средних продаж по регионам и продуктам
pivot_table = data.pivot_table(
    values='sales',
    index='region',
    columns='product',
    aggfunc='mean'
)

pivot_table

product    Widget A    Widget B    Widget C
region
East     291.464286  263.116279  271.361111
North    289.145833  238.477273  304.660000
South    277.380952  282.833333  263.722222
West     250.106383  291.550000  267.136364

# Задание 3: Очистка данных и визуализация

Цель: Проверить умение находить и исправлять ошибки в данных, а также визуализировать их.

Данные: Используйте предоставленный CSV-файл ("sales_cleaning_large.csv"), содержащий данные о продажах с возможными пропущенными и некорректными значениями. Поля:

date (дата продаж),
sales (объем продаж),
region (регион).
Задание:

**Найдите и устраните ошибки в данных:**

1. Заполните пропущенные даты.
2. Удалите отрицательные значения в столбце sales или замените их на медиану столбца.
3. Заполните пропущенные значения в sales средним значением.
4. Постройте график продаж по датам. Убедитесь, что даты упорядочены.

**Ожидаемый ответ:**

* Обработанный DataFrame.
* Построенный график.

# Задание 4: Получение данных из API

Цель: Проверить способность работать с веб-данными.

**Задание:**

1. Используйте открытое API (например, https://jsonplaceholder.typicode.com/users).
2. Загрузите данные и создайте DataFrame с полями: id, name, email, company_name.
3. Выведите таблицу с пользователями, работающими в компаниях, название которых содержит слово "Group".

**Ожидаемый ответ:**

* DataFrame с результатами фильтрации.